@model RegisterViewModel


@{
    ViewData["Title"] = "Student Registration";
    //Layout = "_StudentLayout";
}

<section class="main-content center">
    <div class="content-header">
        <h1>Student Registration</h1>
    </div>

    <div class="welcome">
        <p>Please fill in your details to create a new account.</p>
    </div>

    <div>
    </div>
    <div class="center" style="margin-top: 30px;">
        <form asp-action="Register" method="post">
            <div class="form-group fifteen">
                <label asp-for="FirstName"></label><br />
                <input asp-for="FirstName" class="form-control" style="width: 300px; padding: 8px;" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group fifteen">
                <label asp-for="LastName"></label><br />
                <input asp-for="LastName" class="form-control" style="width: 300px; padding: 8px;" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group fifteen">
                <label asp-for="Email"></label><br />
                <input asp-for="Email" class="form-control" style="width: 300px; padding: 8px;" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group fifteen">
                <label asp-for="Password"></label><br />
                <input asp-for="Password" type="password" class="form-control" style="width: 300px; padding: 8px;" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group fifteen">
                <label asp-for="ConfirmPassword"></label><br />
                <input asp-for="ConfirmPassword" type="password" class="form-control" style="width: 300px; padding: 8px;" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top: 20px;">
                <button type="submit" class="btn" style="background-color: #7c32ff; color: white; padding: 10px 25px; border: none; cursor: pointer;">
                    Register
                </button>
            </div>

            <div class="form-group text-center" style="margin-top: 10px;">
                <p>Already have an account?</p>
                <a class="small" asp-controller="Student" asp-action="Login" style="color: #7c32ff; text-decoration: underline;">
                    Back to Login
                </a>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
