@model StudentSync.Models.Consumer


@{
    ViewData["Title"] = "Edit";
    if (User.IsInRole("Admin"))
    {
        Layout = "_AdminLayout";
    }
    else if (User.IsInRole("Student"))
    {
        Layout = "_StudentLayout";
    }
    else
    {
        Layout = "_ConsumerLayout";
    }
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConsumerId" />
            <div class="form-group">
                <label asp-for="ConsumerId" class="control-label"></label>
                <input asp-for="ConsumerId" class="form-control" />
                <span asp-validation-for="ConsumerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentDate" class="control-label"></label>
                <input asp-for="EnrollmentDate" class="form-control" />
                <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Photo
                    <input tyoe="hidden" value="@Model.Photo" id="PhotoName" name="PhotoName"></input>
                    <img src="@WebConstants.ImagePath@Model.Photo" width="100" style="border-radius:5px; border:1px solid #bbb"></img>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-8">
                    <input type="file" name="files" id=" uploadBox" multiple action="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>


            </div>
            <div class="form-group">

                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
